<%- include("partials/header") %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Store</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <video width="500" height="500" controls>
                        <source src="<%= video.video %>" type="video/ogg">
                    </video>
                    <div class="caption-full">
                        <h1><%= video.name %></h1>
                        <p><%= video.description %></p>
                    </div>
                </div>
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-success" href="/home/videos/<%= video._id %>/comments/new">New Comment</a>
                    </div>
                </div>
                <hr>
                <% video.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author %></strong>
                            <span class="pull-right">12 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>    
<%- include("partials/footer") %>